Twisted==15.0.0
bottle==0.12.9
cffi==0.9.2
characteristic==14.3.0
cryptography==0.8.1
cssselect==0.9.1
decorator==4.0.4
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.4.5
ipython==4.0.0
ipython-genutils==0.1.0
lxml==3.4.2
oauthlib==0.7.2
path.py==8.1.1
pickleshare==0.5
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.7
queuelib==1.2.2
requests==2.13.0
requests-oauthlib==0.8.0
service-identity==14.0.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
tweepy==3.5.0
w3lib==1.11.0
zope.interface==4.1.2
