<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>I am Belle</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/css/simpletextrotator.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="static/scripts/jquery.simple-text-rotator.js"></script>



  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/img/favicon.ico">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

   
  <div class="section hero">
    <div class="container">
         <h3 class="belle">Hi, I am Belle...</h3>
      <div class="row">

        <div class="one-half column">

          <h4 class="hero-heading"> I think you're  <span class="rotate">beautiful, exciting, adventurous, fashionable, unique, talented </span></h4>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="static/images/belle.png">

        </div>
      </div>
    </div>
  </div>

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
    
  <div class="section values" style="padding-top: 0px;">
       <img class="lace" src="static/images/lace-1.png">
      
    <div class="container">
      <div class="row">
        <div class="one-half column value">
            <br><br>
           <h2 class="friend">Introduce me!</h2>
          <p class="about">Tell me your friend's name, I will go meet them!</p>
            <form action="introduceme" method="POST"  target="dummyframe">
            <input type="text" name="name" placeholder="@TwitterHandle"><br>
              <button id="submit-button" type="submit" onclick="submitHandle()"> Go! </button>
                </form>
            <p class="about" id="hidden-submit"></p> 
        </div>
            
        <div class="one-half column value">
             <br><br>
              <h2 class="friend">My latest friend!</h2>
            <div class="tweet">
                <a 
                   class="twitter-timeline" 
                   data-show-replies="true"
                   data-theme="light"
                   data-chrome="nofooter noheader"
 href="https://twitter.com/iambellebot">Tweets by iambellebot</a>
                </div>
        </div>
      </div>
    </div>
      
       
  </div>

    <div class="section about-me" style="padding-bottom: 0px;">
    <div class="container">
      <h3 class="friend">About Me!</h3>
      <p class="about-description">My name is Belle and I can't wait to see you! <br> I'm always searching Twitter for nice pictures to comment on. <br> Enter your friend's Twitter handle above and I will go check out their pictures!</p>
      <a class="button about-button" href="http://twitter.com/iambellebot">Come Visit Me!</a>
        
    </div>
        <br> <br>
        <img class="lace upsidedown" src="static/images/lace-6.png">
  </div>
    
    
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


    <script type="text/javascript">
	    $(".rotate").textrotator({
	      animation: "flipUp",
	      speed: 1500
	    });
	</script>

    <script>
        function submitHandle() {
            console.log("hi");
        $("#submit-button").css("display", "none");
        document.getElementById("hidden-submit").innerHTML= "I'll go look for them!";
        }
</script>
    
            <!-- moment.js only needed for Query 6 example -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
